canvas {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  max-height: fit-content;
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100svh;
  margin: 0;
  background-color: #222222;
}

#root {
  height: 100vh;
  display: flex;
}

@media (max-width: 500px) {
  :root {
    font-size: 13px;
  }
  #root {
    display: block;
  }
}
input, textarea {
  font-family: "Lato", sans-serif;
  padding: 1.5% 3%;
  width: 40%;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 5% !important;
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 1.5% 3%;
  border-radius: 8px;
  cursor: pointer;
  transition: 500ms;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
}

.btn:hover {
  background-color: #F45050 !important;
  color: white !important;
}

.fade-out {
  animation: fadeOut 500ms forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
.fade-in {
  animation: fadeIn 800ms forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  #container_aside {
    height: fit-content !important;
    width: 100% !important;
  }
  #container_aside #container_mobile {
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 4;
    top: 0;
    padding-block: 5%;
  }
  #container_aside #container_mobile h1 {
    margin-block: 0;
  }
  #container_aside #container_mobile button {
    background: none;
    border: none;
    outline: none;
    font-size: 2rem;
  }
  #container_aside nav {
    z-index: 5;
    position: fixed;
    left: -100%;
    top: 0;
    width: 90%;
    padding-left: 5%;
    transition: 500ms;
    height: 100%;
  }
  #container_aside nav section button {
    padding-block: 3% !important;
  }
  #container_aside nav #btn-closeNav {
    position: absolute;
    font-size: 2rem;
    top: -70%;
    width: fit-content;
    transition: 500ms;
    right: 24%;
    opacity: 0;
  }
  #container_aside .showBtnClose {
    opacity: 1 !important;
  }
  #container_aside .showNav {
    box-shadow: 50px 0 0 rgba(0, 0, 0, 0.32);
    left: 0;
  }
}
aside {
  width: 25%;
  padding: 1rem 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
@media (min-width: 500px) {
  aside {
    background-color: #F0F0F0;
  }
  aside #container_mobile {
    display: none;
  }
  aside #btn-closeNav {
    display: none;
  }
}
aside nav {
  opacity: 0;
  background: #F0F0F0;
}
aside nav h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 7rem;
  margin: 0;
}
aside nav button i {
  margin-left: 8%;
}
aside nav section {
  margin-bottom: 8%;
  padding-bottom: 8%;
  position: relative;
}
aside nav section button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 5% 0;
  border-radius: 10px;
  transition: 500ms;
}
aside nav section button:hover {
  padding-left: 8%;
  color: #F45050;
}
aside nav section:nth-child(-n+4):after {
  position: absolute;
  content: "";
  height: 5px;
  width: 8%;
  background: #F45050;
  bottom: 0;
  left: 0;
}

@media (max-width: 500px) {
  #root .mobileTransition {
    transition: 499ms;
    height: 72px !important;
  }
}
#container_welcome {
  width: 60%;
  background-color: #F0F0F0;
  align-items: start;
  padding: 5%;
  transition: 500ms;
}
@media (max-width: 500px) {
  #container_welcome {
    height: 65% !important;
    width: 100%;
  }
  #container_welcome article, #container_welcome picture, #container_welcome img {
    width: 100%;
  }
}
#container_welcome h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 12.5rem;
  margin-block: 0;
  font-weight: 400;
}
#container_welcome p {
  margin-top: -3%;
  padding-bottom: 3%;
  font-size: 1.5rem;
  position: relative;
}
#container_welcome p:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5%;
  background: #F45050;
  bottom: 0;
  left: 0;
}

#container_login {
  padding: 5%;
  width: 40%;
  color: white;
  font-weight: 600;
  transition: 500ms;
}
@media (max-width: 500px) {
  #container_login {
    width: 100%;
  }
  #container_login input {
    width: 60%;
    padding-block: 3%;
  }
}
#container_login h2 {
  margin-block: 0;
  padding-bottom: 3%;
  margin-bottom: 3%;
  font-size: 4.5rem;
  position: relative;
}
#container_login h2:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 8%;
  background: #F45050;
  bottom: 0;
  left: 0;
}
#container_login p {
  font-size: 1.5rem;
  margin-block: 0;
  margin-bottom: 5%;
}
#container_login button {
  width: auto;
}

#container_newTask {
  overflow-x: hidden;
  animation: fadeIn 500ms forwards;
  color: white;
  padding: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow-y: scroll;
  width: 75%;
}
@media (max-width: 500px) {
  #container_newTask {
    width: 100%;
    margin-top: 15%;
  }
}
#container_newTask h1 {
  font-size: 6rem;
  position: relative;
  margin-block: 1.5%;
  padding-bottom: 1.5%;
}
#container_newTask h1:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 8%;
  background: #F45050;
  bottom: 0;
  left: 0;
}
@media (max-width: 500px) {
  #container_newTask {
    width: 90%;
    margin-inline: auto;
  }
  #container_newTask h1 {
    font-size: 3rem;
  }
}
#container_newTask section {
  width: 70%;
  min-width: 500px;
}
@media (max-width: 500px) {
  #container_newTask section {
    min-width: 0;
    width: 100%;
  }
  #container_newTask section #taskName {
    font-size: 1.5rem;
    padding-block: 5%;
    width: 100%;
  }
  #container_newTask section div {
    flex-wrap: wrap;
  }
  #container_newTask section div #customData, #container_newTask section div label {
    width: 49%;
    margin-bottom: 5%;
    padding-block: 5%;
  }
}
#container_newTask section h2 {
  font-weight: 400;
  margin-bottom: 1.5%;
}
#container_newTask section input {
  display: block;
  margin-bottom: 1.5%;
}
#container_newTask section #customData {
  display: inline;
  cursor: pointer;
}
#container_newTask section textarea {
  resize: none;
  width: 100%;
  height: 15ch;
}
#container_newTask section div {
  display: flex;
  gap: 1.5%;
}
#container_newTask section div button, #container_newTask section div input {
  width: 100%;
  height: 100%;
}
#container_newTask section div input:not(#customData) {
  display: none;
}
#container_newTask section div label {
  background-color: white;
  color: black;
  text-align: center;
}
#container_newTask section div .disabledLabel {
  opacity: 0.2;
}
#container_newTask section div input:checked + label {
  background-color: #F45050;
  color: white;
}
#container_newTask #btn_addTask {
  margin-block: 3%;
  padding: 1.5%;
  width: 70%;
  height: auto;
  min-width: 500px;
  color: white;
  background-color: #222222;
  border: 2px solid #F45050;
}
@media (max-width: 500px) {
  #container_newTask #btn_addTask {
    width: 100%;
    min-width: 0;
    font-size: 1.5rem;
    padding-block: 5%;
  }
}
#container_newTask #btn_addTask:hover {
  background-color: #F45050;
}
#container_newTask #errorMsg {
  margin-top: 0;
  opacity: 0;
  font-weight: 700;
  transform: translateY(-200%);
  animation: slide-Down 500ms forwards;
}

@keyframes slide-Down {
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
#container_profile {
  overflow-x: hidden;
  animation: fadeIn 500ms forwards;
  color: white;
  padding: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow-y: scroll;
  width: 75%;
}
@media (max-width: 500px) {
  #container_profile {
    width: 100%;
    margin-top: 15%;
  }
}
#container_profile h1 {
  font-size: 6rem;
  position: relative;
  margin-block: 1.5%;
  padding-bottom: 1.5%;
}
#container_profile h1:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 8%;
  background: #F45050;
  bottom: 0;
  left: 0;
}
@media (max-width: 500px) {
  #container_profile {
    width: 90%;
    margin-inline: auto;
    min-width: 0;
    font-size: 1.5rem;
  }
}
#container_profile button {
  width: auto;
  height: auto;
}
@media (max-width: 500px) {
  #container_profile button {
    padding-block: 5%;
  }
}
#container_profile #userName {
  margin-bottom: 1.5% !important;
}
@media (max-width: 500px) {
  #container_profile #userName {
    width: 90%;
    font-size: 1.5rem;
    padding-block: 5%;
    margin-top: 5%;
  }
}
@media (max-width: 500px) {
  #container_profile #container_newName > * {
    margin-bottom: 5% !important;
  }
}
#container_profile #container_newName {
  margin-top: 3%;
  position: relative;
  margin-bottom: 3%;
  padding-bottom: 3%;
}
#container_profile #container_newName:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 8%;
  background: #F45050;
  bottom: 0;
  left: 0;
}
#container_profile #container_msg {
  margin-top: 5%;
  background-color: white;
  color: #F45050;
  padding: 3% 1.5%;
  border-radius: 8px;
  width: fit-content;
  opacity: 0;
  transform: translateY(100%);
  animation: showMsg 2000ms forwards;
}

@keyframes showMsg {
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}
#container_tasks {
  overflow-x: hidden;
  animation: fadeIn 500ms forwards;
  color: white;
  padding: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow-y: scroll;
  width: 75%;
}
@media (max-width: 500px) {
  #container_tasks {
    width: 100%;
    margin-top: 15%;
  }
}
#container_tasks h1 {
  font-size: 6rem;
  position: relative;
  margin-block: 1.5%;
  padding-bottom: 1.5%;
}
#container_tasks h1:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 8%;
  background: #F45050;
  bottom: 0;
  left: 0;
}
@media (max-width: 500px) {
  #container_tasks {
    width: 90%;
    margin-inline: auto;
  }
}
#container_tasks #container_filter {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
@media (max-width: 500px) {
  #container_tasks #container_filter {
    width: 100%;
    margin-inline: auto;
  }
}
#container_tasks #container_filter p {
  margin-block: 0;
}
#container_tasks #container_filter div {
  position: relative;
  width: 50%;
}
#container_tasks #container_filter div #searchBar {
  padding: 3% 3%;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0 !important;
}
@media (max-width: 500px) {
  #container_tasks #container_filter div #searchBar {
    margin-bottom: 5%;
    padding-block: 5%;
  }
}
#container_tasks #container_filter div #searchBar:hover {
  background-color: white;
  cursor: text;
}
#container_tasks #container_filter div button {
  padding: 3%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5%;
  background: transparent;
  color: red;
  border: none;
  cursor: pointer;
  outline: none;
}
#container_tasks #container_taskResult {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}
#container_tasks #container_taskResult .task {
  margin: 1.5%;
  width: 30%;
  height: max-content;
  padding: 3%;
  background: white;
  color: black;
  opacity: 0;
  animation: fadeIn 800ms forwards;
  border-radius: 10px;
}
#container_tasks #container_taskResult .task h3 {
  margin-block: 1%;
  text-align: center;
  font-weight: bold;
}
#container_tasks #container_taskResult .task .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#container_tasks #container_taskResult .task .footer button {
  border: none;
  outline: none;
  color: black;
  background: none;
  padding: 3%;
  cursor: pointer;
}
#container_tasks #container_taskResult .task .footer span {
  background: #F45050;
  padding: 3%;
  border-radius: 8px;
  color: white;
  width: 45%;
  text-align: center;
}
@media (max-width: 500px) {
  #container_tasks #container_taskResult .task {
    width: 100%;
    margin-bottom: 5%;
    padding-block: 5%;
  }
}
#container_tasks #container_taskResult .task p {
  font-size: 1rem;
  line-height: 1.5;
  max-height: 5.1rem;
  overflow-y: hidden;
  position: relative;
  transition: 1000ms cubic-bezier(0.01, 0.45, 0.34, 1.05);
}
#container_tasks #container_taskResult .task p:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 500ms;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.98), rgba(0, 0, 0, 0));
}
#container_tasks #container_taskResult .task .changeHeight {
  transition: 1000ms cubic-bezier(0.05, 0.59, 0.48, 0.46);
  max-height: calc(var(--tam-p) * 1.7 * 1px);
}
#container_tasks #container_taskResult .task .changeHeight:after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
#container_tasks #container_taskResult .task .completed {
  width: 100%;
  font-size: 2rem;
  background: none;
  color: #0ba537;
  font-family: "Font Awesome 6 Free";
}
#container_tasks #container_taskResult .task button {
  height: auto;
  background: black;
  color: white;
  padding-block: 5%;
  margin-bottom: 3%;
  transition: 500ms cubic-bezier(0.86, 0.16, 0.08, 0.89);
}
#container_tasks #container_taskResult .task .rotate {
  transform: rotateY(150deg) rotateX(180deg);
}

#container_noTasks {
  padding: 5%;
  color: white;
}

#container_home {
  overflow-x: hidden;
  animation: fadeIn 500ms forwards;
  color: white;
  padding: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow-y: scroll;
  width: 75%;
  color: white;
  padding: 0;
}
@media (max-width: 500px) {
  #container_home {
    width: 100%;
    margin-top: 15%;
  }
}
#container_home h1 {
  font-size: 6rem;
  position: relative;
  margin-block: 1.5%;
  padding-bottom: 1.5%;
}
#container_home h1:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 8%;
  background: #F45050;
  bottom: 0;
  left: 0;
}
#container_home h1, #container_home article {
  padding-inline: 5%;
}
@media (max-width: 500px) {
  #container_home h1, #container_home article {
    margin-bottom: 12%;
  }
}
#container_home h1:after {
  left: 5%;
}
#container_home p {
  font-size: 1.5rem;
  margin-block: 1.5%;
}
#container_home .container_tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}
@media (max-width: 500px) {
  #container_home .container_tasks {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}
#container_home #container_01,
#container_home #container_03,
#container_home #container_04,
#container_home #container_05,
#container_home #container_lastTasks,
#container_home #container_HomeTasks {
  display: flex;
  flex-wrap: wrap;
}
#container_home #container_lastTasks h2,
#container_home #container_HomeTasks h2,
#container_home #container_JobTasks h2,
#container_home #container_StudyTasks h2 {
  font-size: 1.5rem;
  width: 100%;
}
#container_home #container_lastTasks .container_tasks,
#container_home #container_HomeTasks .container_tasks,
#container_home #container_JobTasks .container_tasks,
#container_home #container_StudyTasks .container_tasks {
  width: 100%;
}
#container_home #container_lastTasks .container_tasks .task,
#container_home #container_HomeTasks .container_tasks .task,
#container_home #container_JobTasks .container_tasks .task,
#container_home #container_StudyTasks .container_tasks .task {
  width: 45%;
  margin-bottom: 3%;
  padding: 1.5% !important;
  height: max-content;
  padding: 3%;
  background: white;
  color: black;
  opacity: 0;
  animation: fadeIn 800ms forwards;
  border-radius: 10px;
}
@media (max-width: 500px) {
  #container_home #container_lastTasks .container_tasks .task,
  #container_home #container_HomeTasks .container_tasks .task,
  #container_home #container_JobTasks .container_tasks .task,
  #container_home #container_StudyTasks .container_tasks .task {
    min-width: 170px;
    padding: 5% !important;
  }
}
#container_home #container_lastTasks .container_tasks .task .footer,
#container_home #container_HomeTasks .container_tasks .task .footer,
#container_home #container_JobTasks .container_tasks .task .footer,
#container_home #container_StudyTasks .container_tasks .task .footer {
  margin-top: 8%;
}
#container_home #container_lastTasks .container_tasks .task h3,
#container_home #container_HomeTasks .container_tasks .task h3,
#container_home #container_JobTasks .container_tasks .task h3,
#container_home #container_StudyTasks .container_tasks .task h3 {
  margin-block: 1%;
  text-align: center;
  font-weight: bold;
}
#container_home #container_lastTasks .container_tasks .task .footer,
#container_home #container_HomeTasks .container_tasks .task .footer,
#container_home #container_JobTasks .container_tasks .task .footer,
#container_home #container_StudyTasks .container_tasks .task .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#container_home #container_lastTasks .container_tasks .task .footer button,
#container_home #container_HomeTasks .container_tasks .task .footer button,
#container_home #container_JobTasks .container_tasks .task .footer button,
#container_home #container_StudyTasks .container_tasks .task .footer button {
  border: none;
  outline: none;
  color: black;
  background: none;
  padding: 3%;
  cursor: pointer;
}
#container_home #container_lastTasks .container_tasks .task .footer span,
#container_home #container_HomeTasks .container_tasks .task .footer span,
#container_home #container_JobTasks .container_tasks .task .footer span,
#container_home #container_StudyTasks .container_tasks .task .footer span {
  background: #F45050;
  padding: 3%;
  border-radius: 8px;
  color: white;
  width: 45%;
  text-align: center;
}

@media (max-width: 500px) {
  #container_01 {
    flex-direction: column-reverse;
  }
}
#container_01 #container_lastTasks {
  width: 60%;
}
@media (max-width: 500px) {
  #container_01 #container_lastTasks {
    width: 100%;
  }
}
#container_01 #container_chartPie {
  width: 40%;
  display: flex;
  justify-content: center;
  max-height: 380px;
}
@media (max-width: 500px) {
  #container_01 #container_chartPie {
    width: 100%;
  }
}

#container_02 {
  display: flex;
  width: 100%;
  justify-content: center;
}
#container_02 #container_chartBar {
  width: 50%;
  max-height: 500px;
}
@media (max-width: 500px) {
  #container_02 #container_chartBar {
    width: 100%;
  }
}

#container_HomeTasks,
#container_JobTasks,
#container_StudyTasks {
  width: 100%;
}

#container_04 {
  background-color: #434242;
}
@media (max-width: 500px) {
  #container_04 {
    padding-block: 5%;
  }
}

.wrapper .Lazer, .wrapper .Casa,
.wrapper .Trabalho, .wrapper .Estudo {
  width: 20% !important;
  min-height: 165px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .wrapper .Lazer, .wrapper .Casa,
  .wrapper .Trabalho, .wrapper .Estudo {
    width: 60% !important;
    min-height: auto;
  }
}

#container_noTasks {
  padding: 5%;
  color: white;
}
#container_noTasks p {
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
