* {
  box-sizing: border-box;
  padding: 0;
  max-height: -moz-fit-content;
  max-height: fit-content;
  font-family: "Lato", sans-serif;
}

body {
  height: 100svh;
  overflow: hidden;
  margin: 0;
  background-color: #222222;
}

#root {
  height: 100vh;
  display: flex;
}

main {
  padding: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 75%;
}

.btn {
  border: none;
  outline: none;
  padding: 3% 5%;
  border-radius: 10px;
  cursor: pointer;
  transition: 500ms;
}

.btn:hover {
  background-color: #F45050;
  color: white;
}

.fade-out {
  animation: fadeOut 500ms forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
aside {
  background: #F0F0F0;
  width: 25%;
  padding: 1rem 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
aside h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 7rem;
  margin: 0;
}
aside button i {
  margin-left: 8%;
}
aside section {
  margin-bottom: 8%;
  padding-bottom: 8%;
  position: relative;
}
aside section button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 5% 0;
  border-radius: 10px;
  transition: 500ms;
}
aside section button:hover {
  padding-left: 8%;
  color: #F45050;
}
aside section:nth-child(-n+3):after {
  position: absolute;
  content: "";
  height: 5px;
  width: 15%;
  background: #F45050;
  bottom: 0;
  left: 0;
}

#container_welcome {
  width: 60%;
  background-color: #F0F0F0;
  align-items: start;
  padding: 5%;
  transition: 500ms;
}
#container_welcome h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 12.5rem;
  margin-block: 0;
  font-weight: 400;
}
#container_welcome p {
  margin-top: -3%;
  padding-bottom: 3%;
  font-size: 1.5rem;
  position: relative;
}
#container_welcome p:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5%;
  background: #F45050;
  bottom: 0;
  left: 0;
}

#container_login {
  width: 40%;
  color: white;
  font-weight: 600;
  transition: 500ms;
}
#container_login h2 {
  margin-block: 0;
  padding-bottom: 3%;
  margin-bottom: 3%;
  font-size: 4.5rem;
  position: relative;
}
#container_login h2:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 15%;
  background: #F45050;
  bottom: 0;
  left: 0;
}
#container_login p {
  font-size: 1.5rem;
  margin-block: 0;
  margin-bottom: 5%;
}
#container_login input {
  font-family: "Lato", sans-serif;
  padding: 3%;
  width: 40%;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 5%;
  display: block;
}