@use '../_partials/_index' as *;

#container_home{
  @include contentConfig;
  color: white;
  padding: 0;

  h1, article{
    padding-inline: $esp-m;

    @media (max-width: 500px) {
      margin-bottom: $esp-xg;
    }
  }

  h1:after{
    left: $esp-m;
  }

  p{
    font-size: $font-tamanho-p;
    margin-block: $esp-pp;
  }

  .container_tasks{
    display: flex;
    flex-wrap: wrap;
    gap: $esp-p;

    @media (max-width: 500px) {
      overflow-x: scroll;
      flex-wrap: nowrap;
    }
  }

  #container_01,
  #container_03,
  #container_04,
  #container_05,
  #container_lastTasks,
  #container_HomeTasks{
    display: flex;
    flex-wrap: wrap;


  }

  #container_lastTasks,
  #container_HomeTasks,
  #container_JobTasks,
  #container_StudyTasks
  {
    h2{
      font-size: $font-tamanho-p;
      width: 100%;
    }

    .container_tasks{
      width: 100%;

      .task{
        width: 45%;
        margin-bottom: $esp-p;
        padding: $esp-pp !important;
        @include taskConfig;

        @media (max-width: 500px) {
          min-width: 170px;
          padding: $esp-m !important;
        }

        .footer{
          margin-top: $esp-g;
        }
        @include taskConfig2;
      }
    }
  }
  }

  #container_01{
    @media (max-width: 500px) {
      flex-direction: column-reverse;

    }

    #container_lastTasks{
      width: 60%;
      @media (max-width: 500px) {
        width: 100%;
      }
  }
    #container_chartPie{
      width: 40%;
      display: flex;
      justify-content: center;
      max-height: 380px;

      @media (max-width: 500px) {
        width: 100%;
      }
    }
}

  #container_02{
    display: flex;
    width: 100%;
    justify-content: center;
    #container_chartBar{
      width: 50%;
      max-height: 500px;

      @media (max-width: 500px) {
        width: 100%;
      }
    }
  }

#container_HomeTasks,
#container_JobTasks,
#container_StudyTasks
{
  width: 100%;
}

#container_04{
  background-color: $cor-4;

  @media (max-width: 500px) {
    padding-block: $esp-m;
  }
}

.wrapper{
  .Lazer, .Casa,
  .Trabalho, .Estudo {
    width: 20% !important;
    min-height: 165px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
      width: 60% !important;
      min-height: auto;
    }
  }
}
