@use '../_partials/_index' as *;

#container_newTask{
    @include contentConfig;
    @media (max-width: 500px) {
        width: 90%;
        margin-inline: auto;

        h1{
            font-size: $font-tamanho-g;
        }
    }
    section{
        width: 70%;
        min-width: 500px;

        @media (max-width: 500px) {
            min-width: 0;
            width: 100%;

            #taskName{
                font-size: $font-tamanho-p;
                padding-block: $esp-m;
                width: 100%;
            }
            div{
                flex-wrap: wrap;

                #customData, label{
                    width: 49%;
                    margin-bottom: $esp-m;
                    padding-block: $esp-m;
                }
            }
        }

        h2{
            font-weight: 400;
            margin-bottom: $esp-pp;
        }

        input{
            display: block;
            margin-bottom: $esp-pp;
        }

        //#customData{
        //    display: inline;
        //    cursor: pointer;
        //}

        textarea{
            resize: none;
            width: 100%;
            height: 15ch;
        }

        div{
            display: flex;
            gap: $esp-pp;

            button, input{
                width: 100%;
                height: 100%;
            }

            input{
                display: none;
            }

            label{
                background-color: white;
                color: black;
                text-align: center;
            }

            .disabledLabel{
                opacity: .2;
            }

            input:checked + label{
                background-color: $cor-3;
                color: white;
            }
        }
    }

    #btn_addTask{
        margin-block: $esp-p;
        padding: $esp-pp;
        width: 70%;
        height: auto;
        min-width: 500px;
        color: white;
        background-color: $cor-1;
        border: 2px solid $cor-3;

        @media (max-width: 500px){
            width: 100%;
            min-width: 0;
            font-size: $font-tamanho-p;
            padding-block: $esp-m;
        }
    }

    #btn_addTask:hover{
        background-color: $cor-3;

    }

    #errorMsg{
        margin-top: 0;
        opacity: 0;
        font-weight: 700;
        transform: translateY(-200%);
        animation: slide-Down 500ms forwards;
    }
}


@keyframes slide-Down {
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}