@use '../_partials/_index' as *;

#container_welcome{
    width: 60%;
    background-color: $cor-2;
    align-items: start;
    padding: $esp-m;
    transition: 500ms;

    h1{
        font-family: $fonte-2;
        font-size: $font-tamanho-xgplus;
        margin-block: 0;
        font-weight: 400;
    }

    p{
        margin-top: -$esp-p;
        padding-bottom: $esp-p;
        font-size: $font-tamanho-p;
        position: relative;
    }

    p:after{
        @include afterDetail(5%)
    }
}

#container_login{
    width: 40%;
    color: white;
    font-weight: 600;
    transition: 500ms;


    h2{
        margin-block: 0;
        padding-bottom: $esp-p;
        margin-bottom: $esp-p;
        font-size: $font-tamanho-xg;
        position: relative;
    }
    
    h2:after{
        @include afterDetail()
    }


    p{
        font-size: $font-tamanho-p;
        margin-block: 0;
        margin-bottom: $esp-m;
    }

    input{
        font-family: $fonte-1;
        padding: $esp-p;
        width: 40%;
        border-radius: 10px;
        border: none;
        outline: none;
        margin-bottom: $esp-m;
        display: block;
    }
}